h1  {
  text-align: center;
}
h2 {
  text-align: center;
}
h4 {
  text-align: center;
}
#score {
  text-align: center;
}

#displaydice{
  font-size: 10em;
  padding: 0;
  margin: 0;
  height: 163px;
}

#main{

    text-align: center;
}

.instructions{
  text-align: center;
  padding-top: 10em;
}
body {
  /*background-color: #ed95a9;*/
  color: #8A3928;
  font-family: Avenir;
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/37/b5/27/37b52739ce9165036da79f84a308b1b4.jpg);
}
.well {
  background-color: #CA9897;
}
.jumbotron {
  background-color: #CA9897;
}

ul {
  font-size: 15px;
}
