.jumbotron {
  background-color: #141414;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: white;
  font-weight: bold;
}
.player-console {
  display: none;
}

body {
  background-color: #616161;
  font-family: Avenir;
  color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.player1Name {
  width: 50%;
}

.player2Name {
  width: 50%;
}

label {
  color: red;
  font-size: 20px;
}

#start {
  background-color: #616161;
  font-size: 20px;
}

#new-game {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #616161;
  font-size: 20px;
}
.display-1 {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.display-2 {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#player1-roll {
  background-color: #8BC34A;
}
#player2-roll {
  background-color: #8BC34A;
}
#player1-hold {
  background-color: red;
}
#player2-hold {
  background-color: red;
}
